:root {
    --primary-color: #2c3e50;
    --secondary-color: #1abc9c;
    --tertiary-color: #3a546d;
}

/* TYPO */

header,
main section:nth-child(odd),
footer {
    color: #fff;
}

footer #info {
    background-color: var(--tertiary-color);
}

/* HEADER */

header {
    background-color: var(--primary-color);
}

header .container .row {
    height: 5.625rem;
}

/* MAIN */

main section:nth-child(odd) {
    background-color: var(--secondary-color);
}

/* FOOTER */

footer #info {
    background-color: var(--tertiary-color);
}

footer #copyright {
    background-color: var(--primary-color);
}