:root {
    --primary-color: #2c3e50;
}

/* TYPO */

header {
    color: #fff;
}

/* HEADER */

header {
    background-color: var(--primary-color);
}

header .container .row {
    height: 5.625rem;
}