:root {
    --primary-color: #2c3e50;
    --secondary-color: #1abc9c;
}

/* TYPO */

header,
section:nth-child(odd) {
    color: #fff;
}

/* HEADER */

header {
    background-color: var(--primary-color);
}

header .container .row {
    height: 5.625rem;
}

/* MAIN */

section:nth-child(odd) {
    background-color: var(--secondary-color);
}