@import url('components/components.css');

:root {
    --primary-color: #2c3e50;
    --secondary-color: #1abc9c;
    --tertiary-color: #3a546d;
    --ms-line-color: #fff;
}

/* TYPO */

header,
main section:nth-child(odd),
footer {
    color: #fff;
}

footer #info {
    background-color: var(--tertiary-color);
}

/* COMMON */

/* HEADER */

header {
    background-color: var(--primary-color);
}

header .container .row {
    height: 5.625rem;
}

/* MAIN */

main section:nth-child(odd) {
    background-color: var(--secondary-color);
}

/* Start Bootstrap */

main #start-bootstrap img {
    width: 14.0625rem;
}

/* Portfolio */

#portfolio .ms-star {
    --ms-line-color: #000;
}

/* About us */

main #about-us .btn {
    color: #fff;
    border: 1px solid #fff;
}

/* FOOTER */

footer #info {
    background-color: var(--tertiary-color);
    padding-bottom: 3.75rem;
}

footer #info h3 {
    margin-top: 3.4375rem;
}

footer #copyright {
    background-color: var(--primary-color);
    height: 6.875rem;
    line-height: 6.875rem;
}