/* COMPONENTI */

/* Stella con linea */

.ms-star {
    position: relative;
    width: 50%;
    left: 50%;
    transform: translate(-50%, 0);
}

.ms-star i {
    font-size: 28px;
}

.ms-star::before {
    content: '';
    display: block;
    width: 40%;
    height: .0625rem;
    border: 2px solid var(--ms-line-color);
    background-color: var(--ms-line-color);
    position: absolute;
    top: 50%;
}

.ms-star::after {
    content: '';
    display: block;
    width: 40%;
    height: .0625rem;
    border: 2px solid var(--ms-line-color);
    background-color: var(--ms-line-color);
    position: absolute;
    top: 50%;
    right: 0;
}

/* Immagini */

.ms-card img {
    border-radius: .625rem;
    width: 100%;
}

/* Contorno Icone */

.ms-icon-border {
    border: 1px solid #fff;
    border-radius: 50%;
    padding: .625rem .875rem;
}